.button {
    width: 500px;
    height: 500px;
    background-color: red;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border: 2px solid black;
    
}

.button:hover{
    background-color: rgb(248, 100, 100);

    cursor: pointer;
}


.button-container{
    width: 600px;
    height: 600px;
    background-color: lightgray;
    border-radius: 50%;
    border: 2px solid black;
    justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        
}




.button-text{
justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40%;
}